@model Kennel.Models.Data.Joining_Data.DogInfo.DisplayOnly.DogInfoDetails

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to remove @Html.DisplayFor(model => model.DogBasic.DogName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
