@model Kennel.Models.Data.DogImage.DogImageEdit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

</br>
</br>
</br>

<h3>Are you sure you want to remove your dog's photo?</h3>

<img src="@Url.Action("RenderPhoto", "DogImage", new { photoId = Model.DogImageId})" width="200" height="200" alt="Pet Image" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to Index", "Index", "DogInfo")
    </div>

}