@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-kennelYellow">
    <h1>Home Town Kennel</h1>
    <p class="lead">Where your dogs feel at home.</p>
    <p>@Html.ActionLink("Welcome Back!", "Login", "Account", null, new { @class = "btn btn-danger" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Good to have you!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
        <p>@Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-danger" })</p>
    </div>
    <div class="col-md-4">
        <h2>Good to have you!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
        <p>@Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-danger" })</p>
    </div>
    <div class="col-md-4">
        <h2>Good to have you!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
        <p>@Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-danger" })</p>
    </div>
</div>