@model KennelData.Data.DogBasic

@{
    ViewBag.Title = "CheckIn";
}

<h2>Check In @Html.DisplayFor(model => model.DogName, new { htmlAttributes = new { @class = "form-control" } })?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Check In" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Dashboard")
</div>
